@font-face{
font-family:'Amazon Ember';
src:url('https://pages.payments.amazon.com/rs/846-RQB-314/images/AmazonEmber-Regular.eot'),
url('https://pages.payments.amazon.com/rs/846-RQB-314/images/AmazonEmber-Regular.eot?#iefix') format('embedded-opentype'),
url('https://pages.payments.amazon.com/rs/846-RQB-314/images/AmazonEmber-Regular.woff2') format('woff2'),
url('https://pages.payments.amazon.com/rs/846-RQB-314/images/AmazonEmber-Regular.woff') format('woff'),
url('https://pages.payments.amazon.com/rs/846-RQB-314/images/AmazonEmber-Regular.ttf') format('truetype'),
url('https://pages.payments.amazon.com/rs/846-RQB-314/images/AmazonEmber-Regular.svg#AmazonEmber-Regular') format('svg');
font-weight:400;
font-style:normal;
}
