@font-face {
    font-family: 'Amazon Ember Light';
    src: url('amazonember_lt-webfont.eot');
    src: url('amazonember_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('amazonember_lt-webfont.woff2') format('woff2'),
         url('amazonember_lt-webfont.woff') format('woff'),
         url('amazonember_lt-webfont.ttf') format('truetype'),
         url('amazonember_lt-webfont.svg#amazon_emberlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
